# Node.js
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Misc
.DS_Store

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment variables
.env

#gitignore
.gitignore